<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ngocketit.vocabnote2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity android:theme="@style/CustomTheme"
            android:windowSoftInputMode="stateHidden"
            android:name=".VocabNoteListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
	<activity android:theme="@android:style/Theme.Holo"
            android:name=".AddWordActivity"
            android:label="@string/add_word"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".TranslatorActivity"/>
        <activity android:name=".ViewWordActivity"/>
        <activity android:name=".WordDateFilterActivity"/>
        <provider android:name=".providers.VocabNoteContentProvider" android:authorities="com.ngocketit.vocabnote2.provider.VocabNoteBook">
        </provider>
    </application>
</manifest>
